services:
  server:
    build:
      dockerfile: Dockerfile.server
    restart: no
    ports:
      - "8082:8082"
    depends_on:
      rabbitmq:
        condition: service_healthy
        
  rabbitmq:
    image: rabbitmq:management-alpine
    hostname: rabbitmq
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    healthcheck:
      test: rabbitmq-diagnostics -q ping && rabbitmq-diagnostics check_running
      interval: 3s
      timeout: 3s
      retries: 3

  receiver:
    build:
      dockerfile: Dockerfile.receiver
    restart: always
    depends_on:
       rabbitmq:
         condition: service_healthy
